@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="">
        <h1>GameStored - Part Duex!</h1>
        <p class="lead">A Database for Games</p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Let's Get Started!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a></p>
    </div>
</div>


<div class="row">
    <div class="col-md-6 bg-info table-bordered">
        <h2>Consoles</h2>
        <p>Got a Console or Platform you want to look up or add to?</p>
        <p><a class="btn btn-info" @Html.ActionLink("Consoles", "Index", "Consoles")</a></p>
    </div>

    <div class="col-md-6 bg-success table-bordered">
        <h2>Games</h2>
        <p>Here is the Game list! Got anything you'd want to add?</p>
        <p><a class="btn btn-success" @Html.ActionLink("Games", "Index", "Games")</a></p>
    </div>
</div>
